<%= simple_form_for @schedulereg, :html => { :class => 'form-horizontal' }, :remote => :true do |f| %>

  <%= f.input :schedule_id, as: :hidden %>
  <%= f.input :location_id, as: :hidden %>
  <%= f.input :entry_date, as: :string %>
  <%= f.input :exit_date, as: :string %>
  <%= f.input :child_id, label: "Child", collection: Child.all(order: 'last_name'), label_method: :full_name, prompt: "Choose child" %>
  <!-- %= f.input :parent_id, label: "Parent", collection: Parent.all(order: 'last_name'), label_method: :full_name, prompt: "Choose parent" %> -->
  <%= f.input :comments, label: "Registration Comment" %>
  <%= f.association :referral, label_method: :referral_description %>
  <%= f.input :referred_by %>
  
  <div class="form-actions">
    <%= f.button :submit, 'Create Registration', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                '#close-modal', :rel => 'modal:close', :class => 'btn', :id => 'cancelButton' %>
  </div>
<% end %>

<script>
  $(document).ready(function () {

    alert('Registration Modal Boo!');
  
    // Add Kendo datepicker
    $('#schedulereg_entry_date').kendoDatePicker({
        format: 'yyyy-MM-dd'
    });

    // Add Kendo datepicker
    $('#schedulereg_exit_date').kendoDatePicker({
        format: 'yyyy-MM-dd'
    });


    $(this)
    .bind("ajax:beforeSend", function(evt, xhr, settings){
      // alert('ajax:beforeSend');
    })
    // .bind("ajax:success", function(evt, data, status, xhr){
    .bind("ajax:success", function(){
      // alert('ajax:success!!');
      // console.log(evt);
      // console.log(data);
      // console.log(status);
      // console.log(xhr);
    })
    .bind("ajax:error", function(evt, xhr, status, error){
      // Remove all previous errors
      $('.help-inline').remove();
      $('.error').removeClass('error');
      // alert('ajax:error');
      httpStatus = $.parseJSON(xhr.status);
      // console.log(httpStatus);
      if (httpStatus == 200) {
        // alert('Good');
        $('#cancelButton').click();
      } else {
        // alert('Bad');
        errors = $.parseJSON(xhr.responseText);
        for ( error in errors ) {
          // console.log('registration_' + error);
          $('#schedulereg_' + error).after('<span class="help-inline">' + errors[error] + '</span>');
          $('.schedulereg_' + error).addClass('error');
          // console.log(errors[error]);
        }
      }
      // console.log(xhr);
    })
    .bind("ajax:complete", function(evt, xhr, status){
      // alert('ajax:complete');
    })


  });
</script>
