<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, :readonly => true %>
    <%= f.input :email %>
    <%= f.association :role, label_method: :role,  :label => 'Access Level (Blank = NO Access)' %>
    <%= f.association :location, :label => 'Location (Blank = ALL locations)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
