<%= simple_form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :start_date, as: :string %>
  <%= f.input :stop_date, as: :string %>
  <%= f.input :start_time, as: :string, :placeholder => "HH:MM" %>
  <%= f.input :stop_time, as: :string, :placeholder => "HH:MM" %>
  <%= f.input :size, as: :string %>
  <div id="base_errors">
    <%= f.error :base %>
  </div>  <%= f.input :sunday %>
  <%= f.input :monday %>
  <%= f.input :tuesday %>
  <%= f.input :wednesday %>
  <%= f.input :thursday %>
  <%= f.input :friday %>
  <%= f.input :saturday %>
  <%= f.input :comments, wrapper_html: { height: 100 } %>
  <%= f.association :level %>
  <%= f.association :type %>
  <%= f.association :location %>
  <%= f.association :facility %>
  <%= f.association :zone %>
  <%= f.association :activity %>
  <%= f.association :program %>
  <%= f.association :teacher, label_method: :full_name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn' %>
  </div>
<% end %>
