<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search do |f| %>
  <%= f.label :Zone %>
  <%= f.collection_select :zone_id_in, Zone.all, :id, :name, {}, { size: Zone.all.length, multiple: true, class: 'chzn-select' } %>
  <!-- <%= f.label :zone_name_cont, "Zone" %> -->
  <!-- <%= f.text_field :zone_name_cont %> -->
  <div><%= f.submit "Search" %></div>
<% end %>


<p>Current User's Location is <%= current_user.location.id if current_location %></p>
<p>Current User's Location is <%= current_location.id if current_location %></p>

<table id="datatable" class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Facility</th>
      <th>Zone</th>
      <th>Session</th>
      <th>Start Date</th>
      <th>Stop Date</th>
      <th>Lessons</th>
      <th>Start Time</th>
      <th>Stop Time</th>
      <th>Size</th>
      <th>#</th>
      <th>Level</th>
      <th>Absences</th>
      <th>Specials</th>
      <th>Type</th>
      <th>Teacher</th>
      <th>Comments</th>
      <th>Class #</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.location.name %></td>
        <td><%= schedule.facility.name %></td>
        <td><%= schedule.zone.name %></td>
        <td><%= schedule.program.name %></td>
        <td><%= schedule.start_date %></td>
        <td><%= schedule.stop_date %></td>
        <td><%= Date::DAYNAMES[schedule.day_of_week] %></td>
        <td><%= schedule.start_time.strftime("%H:%M") %></td>
        <td><%= schedule.stop_time.strftime("%H:%M") %></td>
        <td><%= schedule.size %></td>
        <td></td>
        <td><%= schedule.level.name %></td>
        <td></td>
        <td></td>
        <td><%= schedule.type.name %></td>
        <td><%= schedule.teacher.first_name + ' ' + schedule.teacher.last_name %></td>
        <td><%= schedule.comments %></td>
        <td><%= schedule.id %></td>
        <td><%= schedule.activity.name %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>
