<% javascript 'schedules' %>

<%- model_class = Schedule -%>
<div class="page-header">
  <h1>Registration</h1>
</div>

<%= render(:partial => "search_form") %>

 <!-- form_tag copy_classes_copyclasses_path, method: :get do  -->

<%= hidden_field_tag 'detail_schedule_id', '0' %>

<div id="datatable"></div>
<br/>
<div id="detailtable"></div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>

<%= link_to 'AutoClass', { :controller => 'autoclasses', :action => 'autoclass' }, :class => 'btn' %>

 <!-- #submit_tag "New Registration", :id => "new_registration", :disabled => true, :class => 'btn', :onclick => 'submit_create_registration()' -->

<!-- Button to trigger modal -->
<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 --> 
<!-- Modal -->
<!-- <div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div> -->


<%=  link_to_modal "New Registration", "#", :id=>"new_registration", :class=>"btn disabled" %>

<!-- submit_tag "CopyClass", :id => "copyclass", :disabled => true, :class => 'btn'  -->

 <!-- end  -->
