<% javascript 'schedules' %>

<%- model_class = Schedule -%>
<div class="page-header">
  <h1>Registration</h1>
</div>

<%= render(:partial => "search_form") %>

 <!-- form_tag copy_classes_copyclasses_path, method: :get do  -->

<%= hidden_field_tag 'detail_schedule_id', '0' %>
<%= hidden_field_tag 'selected_row_index', '0' %>

<div id="datatable"></div>
<br/>
<div id="detailtable"></div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>

<%= link_to 'AutoClass', { :controller => 'autoclasses', :action => 'autoclass' }, :class => 'btn' %>

 <!-- #submit_tag "New Registration", :id => "new_registration", :disabled => true, :class => 'btn', :onclick => 'submit_create_registration()' -->


<!-- <div id="demo-form" class="demo-description" style="display: none; ">
  <p>
    The basic dialog window is an overlay positioned within the viewport and is protected from page content
    (like select elements) shining through with an iframe. It has a title bar and a content area, and can be moved,
    resized and closed with the 'x' icon by default.
  </p>
</div> -->

<!-- %=  link_to_modal "Demo Form", "#demo-form", :class=>"button" %> -->


<!-- %=  link_to "New Registration", "#", :id=>"new_registration", :class=>"btn disabled" %> -->
<!-- %=  link_to "New Registration", "#", :id=>"new_registration", :class=>"btn disabled" %> -->

<!-- submit_tag "CopyClass", :id => "copyclass", :disabled => true, :class => 'btn'  -->

<!-- Button to trigger modal -->
<a href="#" id="new_registration" role="button" class="btn disabled" data-toggle="modal">New Registration</a>
 
<!-- Modal -->
<div id="registrationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Registration</h3>
  </div>
  <div class="modal-body">
    <!-- <p>One fine body…</p> -->
    <%= simple_form_for :schedulereg, :url => { :controller => 'scheduleregs', :action => 'create' }, :html => { :class => 'form-horizontal' }, :remote => :true do |f| %>
      <%= f.input :parent_id, label: "Parent", collection: Parent.all(order: 'last_name'), label_method: :full_name, prompt: "Select parent" %>
      <%= f.input :child_id, label: "Child", collection: Child.all(order: 'last_name'), label_method: :full_name, prompt: "Select child" %>
      <%= f.input :parent_first_name, as: :string %>
      <%= f.input :parent_last_name, as: :string %>
      <%= f.input :parent_address_1, as: :string %>
      <%= f.input :parent_address_2, as: :string %>
      <%= f.input :parent_city, as: :string %>
      <%= f.input :parent_state, as: :string %>
      <%= f.input :parent_zip, as: :string %>
      <%= f.input :parent_home_phone, as: :string %>
      <%= f.input :parent_cell_phone, as: :string %>
      <%= f.input :referral_id, label: "Referral", collection: Referral.all(order: 'referral_description'), label_method: :referral_description, prompt: "Referral Method" %>
      <%= f.input :referred_by, as: :string %>
      <%= f.input :child_first_name, as: :string %>
      <%= f.input :child_last_name, as: :string %> 
      <%= f.input :child_date_of_birth, :as => :datepicker %>
      <%= f.input :child_sex, collection: [:Male, :Female], as: :radio_buttons, label: "Gender" %>
      <%= f.input :child_notes, as: :string %>
      <%= f.input :entry_date, :as => :datepicker %>
      <%= f.input :exit_date, :as => :datepicker %>
      <%= f.input :current_schedule_id, as: :hidden %>
      <%= f.input :location_id, as: :hidden %>
  
  </div>
  
  <div class="modal-footer">
    <!-- <button class="btn btn-primary">Save changes</button> -->
    <%= f.button :submit, 'Create Registration', :class => 'btn-primary' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>    
  <% end %>
  
</div>

 <!-- end  -->
