<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search do |f| %>
  <%= f.label :Activity %>
  <%= f.collection_select :activity_id_in, Activity.all, :id, :name, {}, { size: Activity.all.length, multiple: true, class: 'chzn-select' } %>
  <%= f.label :Session %>
  <%= f.collection_select :program_id_in, Program.all, :id, :name, {}, { size: Program.all.length, multiple: true, class: 'chzn-select' } %>
  <%= f.label :Level %>
  <%= f.collection_select :level_id_in, Level.all, :id, :name, {}, { size: Level.all.length, multiple: true, class: 'chzn-select' } %>
  <%= f.label :Type %>
  <%= f.collection_select :type_id_in, Type.all, :id, :name, {}, { size: Type.all.length, multiple: true, class: 'chzn-select' } %>
  <br/>
  <%= f.label :Location %>
  <%= f.collection_select :location_id_in, Location.all, :id, :name, {}, { size: Location.all.length, multiple: true, class: 'chzn-select' } %>
  <%= f.label :Facility %>
  <%= f.collection_select :facility_id_in, Facility.all, :id, :name, {}, { size: Facility.all.length, multiple: true, class: 'chzn-select' } %>
  <%= f.label :Zone %>
  <%= f.collection_select :zone_id_in, Zone.all, :id, :name, {}, { size: Zone.all.length, multiple: true, class: 'chzn-select' } %>
  <%= f.label :Teacher %>
  <%= f.collection_select :teacher_id_in, Teacher.all, :id, :full_name, {}, { size: Teacher.all.length, multiple: true, class: 'chzn-select' } %>
  <br/>
  <%= f.label :start_date_gteq, "Date from" %>
  <%= f.text_field :start_date_gteq %>
  <%= f.label :start_date_lteq, "Date to" %>
  <%= f.text_field :start_date_lteq %>



  <!-- <%= f.label :zone_name_cont, "Zone" %> -->
  <!-- <%= f.text_field :zone_name_cont %> -->
  <div><%= f.submit "Search" %></div>
<% end %>


<p>Current User's Location is <%= current_user.location.id if current_location %></p>
<p>Current User's Location is <%= current_location.id if current_location %></p>

<table id="datatable" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Location</th>
      <th>Facility</th>
      <th>Zone</th>
      <th>Session</th>
      <th>Start Date</th>
      <th>Stop Date</th>
      <th>Lessons</th>
      <th>Start Time</th>
      <th>Stop Time</th>
      <th>Size</th>
      <th>#</th>
      <th>Level</th>
      <th>Absences</th>
      <th>Specials</th>
      <th>Type</th>
      <th>Teacher</th>
      <th>Comments</th>
      <th>Class #</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.location.name %></td>
        <td><%= schedule.facility.name %></td>
        <td><%= schedule.zone.name %></td>
        <td><%= schedule.program.name %></td>
        <td><%= schedule.start_date %></td>
        <td><%= schedule.stop_date %></td>
        <td><%= Date::DAYNAMES[schedule.day_of_week] %></td>
        <td><%= schedule.start_time.strftime("%H:%M") %></td>
        <td><%= schedule.stop_time.strftime("%H:%M") %></td>
        <td><%= schedule.size %></td>
        <td></td>
        <td><%= schedule.level.name %></td>
        <td></td>
        <td></td>
        <td><%= schedule.type.name %></td>
        <td><%= schedule.teacher.first_name + ' ' + schedule.teacher.last_name %></td>
        <td><%= schedule.comments %></td>
        <td><%= schedule.id %></td>
        <td><%= schedule.activity.name %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>

<%= link_to 'AutoClass', { :controller => 'autoclasses', :action => 'autoclass' }, :class => 'btn' %>


