<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @schedule.start_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stop_date) %>:</strong></dt>
  <dd><%= @schedule.stop_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:day_of_week) %>:</strong></dt>
  <dd><%= @schedule.day_of_week %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time) %>:</strong></dt>
  <dd><%= @schedule.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stop_time) %>:</strong></dt>
  <dd><%= @schedule.stop_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @schedule.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @schedule.comments %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level_id) %>:</strong></dt>
  <dd><%= @schedule.level_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_id) %>:</strong></dt>
  <dd><%= @schedule.type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zone_id) %>:</strong></dt>
  <dd><%= @schedule.zone_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activity_id) %>:</strong></dt>
  <dd><%= @schedule.activity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:program_id) %>:</strong></dt>
  <dd><%= @schedule.program_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:teacher_id) %>:</strong></dt>
  <dd><%= @schedule.teacher_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              schedules_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_schedule_path(@schedule), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              schedule_path(@schedule),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
