<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :size_eq, "Size" %>
    <%= f.text_field :size_eq %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<table id="schedules" class="table table-striped">
  <tr>
    <th>Location</th>
    <th>Facility</th>
    <th>Zone</th>
    <th>Session</th>
    <th>Start Date</th>
    <th>Stop Date</th>
    <th>Lessons</th>
    <th>Start Time</th>
    <th>Stop Time</th>
    <th>Size</th>
    <th>#</th>
    <th>Level</th>
    <th>Absences</th>
    <th>Specials</th>
    <th>Type</th>
    <th>Teacher</th>
    <th>Comments</th>
    <th>Class #</th>
    <th>Custom #</th>
    <th>Start Day</th>
    <th>Activity</th>
  </tr>
<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.zone.facility.location.name %></td>
    <td><%= schedule.zone.facility.name %></td>
    <td><%= schedule.zone.name %></td>
    <td><%= schedule.program.name %></td>
    <td><%= schedule.start_date %></td>
    <td><%= schedule.stop_date %></td>
    <td><%= Date::DAYNAMES[schedule.day_of_week] %></td>
    <td><%= schedule.start_time.strftime("%H:%M") %></td>
    <td><%= schedule.stop_time.strftime("%H:%M") %></td>
    <td><%= schedule.size %></td>
    <td></td>
    <td><%= schedule.level.name %></td>
    <td></td>
    <td></td>
    <td><%= schedule.type.name %></td>
    <td><%= schedule.teacher.first_name + ' ' + schedule.teacher.last_name %></td>
    <td><%= schedule.comments %></td>
    <td><%= schedule.id %></td>
    <td><%= schedule.id %></td>
    <td><%= Date::DAYNAMES[schedule.day_of_week]  %></td>
    <td><%= schedule.activity.name %></td>
  </tr>
<% end %>
</table>