<%= simple_form_for @teacher, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :middle_name %>
  <%= f.input :last_name %>
  <%= f.association :location %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :cell_phone %>
  <%= f.input :home_phone %>
  <%= f.input :work_phone %>
  <%= f.input :email %>
  <%= f.input :notes %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                teachers_path, :class => 'btn' %>
  </div>
<% end %>
