<%- model_class = Teacher -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:address_1) %></th>
      <th><%= model_class.human_attribute_name(:address_2) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%= model_class.human_attribute_name(:cell_phone) %></th>
      <th><%= model_class.human_attribute_name(:home_phone) %></th>
      <th><%= model_class.human_attribute_name(:work_phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:last_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:last_updated_by) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.full_name %></td>
        <td><%= teacher.location.name if !teacher.location.nil? %></td>
        <td><%= teacher.address_1 %></td>
        <td><%= teacher.address_2 %></td>
        <td><%= teacher.city %></td>
        <td><%= teacher.state %></td>
        <td><%= teacher.zip %></td>
        <td><%= teacher.cell_phone %></td>
        <td><%= teacher.home_phone %></td>
        <td><%= teacher.work_phone %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.notes %></td>
        <td><%=l teacher.updated_at, :format => :short %></td>
        <td><%= User.find(teacher.versions.last.whodunnit).username if teacher.versions.count > 0 %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_teacher_path(teacher), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      teacher_path(teacher),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_teacher_path,
            :class => 'btn btn-primary' %>
