<%- model_class = Zone -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:last_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:last_updated_by) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%=l zone.updated_at, :format => :short %></td>
        <td><%= User.find(zone.versions.last.whodunnit).username if zone.versions.count > 0 %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_zone_path(zone), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      zone_path(zone),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_zone_path,
            :class => 'btn btn-primary' %>
