<%= simple_form_for @parent, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :cell_phone %>
  <%= f.input :home_phone %>
  <%= f.input :work_phone %>
  <%= f.input :care_provider %>
  <%= f.input :care_provider_phone %>
  <%= f.input :comments %>
  <%= f.input :email %>
  <%= f.input :alternate_email %>
  <%= f.input :emergency_contact %>
  <%= f.input :emergency_contact_phone %>
  <%= f.input :insurance %>
  <%= f.input :insurance_phone %>
  <%= f.input :policy_number %>
  <%= f.input :doctor %>
  <%= f.input :doctor_phone %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                parents_path, :class => 'btn' %>
  </div>
<% end %>
