<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @parent.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @parent.last_name %>
</p>

<p>
  <b>Address 1:</b>
  <%= @parent.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @parent.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @parent.city %>
</p>

<p>
  <b>State:</b>
  <%= @parent.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @parent.zip %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @parent.cell_phone %>
</p>

<p>
  <b>Home phone:</b>
  <%= @parent.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @parent.work_phone %>
</p>

<p>
  <b>Care provider:</b>
  <%= @parent.care_provider %>
</p>

<p>
  <b>Care provider phone:</b>
  <%= @parent.care_provider_phone %>
</p>

<p>
  <b>Comments:</b>
  <%= @parent.comments %>
</p>

<p>
  <b>Email:</b>
  <%= @parent.email %>
</p>

<p>
  <b>Alternate email:</b>
  <%= @parent.alternate_email %>
</p>

<p>
  <b>Emergency contact:</b>
  <%= @parent.emergency_contact %>
</p>

<p>
  <b>Emergency contact phone:</b>
  <%= @parent.emergency_contact_phone %>
</p>

<p>
  <b>Insurance:</b>
  <%= @parent.insurance %>
</p>

<p>
  <b>Insurance phone:</b>
  <%= @parent.insurance_phone %>
</p>

<p>
  <b>Policy number:</b>
  <%= @parent.policy_number %>
</p>

<p>
  <b>Doctor:</b>
  <%= @parent.doctor %>
</p>

<p>
  <b>Doctor phone:</b>
  <%= @parent.doctor_phone %>
</p>


<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
